<div class="row">
  <div class="col-md-12 text-center">
    <h2>{{pageTitle}}</h2>
  </div>
</div>
<div class="row" style="border-top:1px solid #999; margin-top:30px; padding-top:15px;">
  <div class="col-md-6 form-inline">
    <input class="form-control" [(ngModel)] = "filterPhrase" />
  </div>
  <div class="col-md-6">
    <button class="btn btn-primary pull-left" (click)="toggleImage()">
      {{ showImage ? 'عدم نمایش' : 'نمایش ' }}  عکس
    </button>
  </div>
</div>
<div class = "row"  *ngIf = "filterPhrase.length">
  <div class="col-md-12">
      <h4> فیلتر : {{filterPhrase}} </h4>
  </div>
</div>
<div class="row" style="margin-top: 20px;">
  <div class="col-md-12">
    <div class="col-md-12 alert alert-success" *ngIf='ratingText && ratingText.length'>
        {{ratingText}}
    </div>
    <table *ngIf = "products && products.length"
      class="table table-responsive table-bordered table-stripped">
      <thead>
          <tr>
              <th>کد محصول</th>
              <th>نام</th>
              <th>قیمت</th>
              <th class="rate-col">امتیاز</th>
              <th>تاریخ عرضه</th>
              <th *ngIf="showImage">عکس</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let product of filteredProducts">

          <td>{{product.productCode | lowercase | productCode}}</td>
          <td>{{product.productName}}</td>
          <td>{{product.price}}</td>
          <td><app-star-rating [rating] = "product.starRating" (ratingClicked) = "ratingClickHandler($event)"></app-star-rating></td>
          <td>{{product.releaseDate | persianDate}}</td>
          <td *ngIf="showImage">
            <img class="img-thumbnail"
              [style.width.px] = 'imageWidth'
              [src]="product.imageUrl"
            />
          </td>
          <td>
            <a [routerLink]="[ '/products', product.productId ]" class="btn btn-primary btn-sm">
              <span class="fa fa-list"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
